*{
  box-sizing: border-box;
}

body{
  background-color: #DB5756;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: Video Medium, video, serif;
  font-weight: 500;
  font-style: normal;
  min-height: 100vh;
  margin: 0;
}

h1 {
font-size: 45px;
color: #F1F1F1;
}

#gameCanvas {
background: #F1F1F1;
display: block;
border-radius: 5px;
border-color: #061324;
border-width: 5px;
border-style: solid;
}

.deactivatebutton1{
  display: none;
}

.deactivatebutton2{
  display: none;
}

.deactivecanvas{
  display: none; 
}

#startSpiel{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
  padding-bottom: 10px;
  padding: 12px;
  border-radius: 4px;
  border: 3px solid #49738C;
  background-color: #A8C9DA; 
  text-align: center;
  font-size: 20px;
  color: #49738C; 
  width: 140px;
  text-decoration: none;
  margin-top: -40px;
  position: fixed;
}

#startSpiel button{
  display: block;
  display: inline-block;
}

#startSpiel:hover { 
  box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.3), 0 0.2rem 0.5rem rgba(0,0,0,0.3), 0 0.2rem 0.2rem rgba(0,0,0,0.22); 
  transform: translate(0, -0.5rem); 
}

#startSpielZweiSpieler{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  cursor: pointer;
  padding-bottom: 10px;
  padding: 12px;
  border-radius: 4px;
  border: 3px solid #49738C;
  background-color: #A8C9DA; 
  text-align: center;
  font-size: 20px;
  color: #49738C; 
  text-decoration: none;
  margin-top: 160px;
  position: fixed;
}

#startSpielZweiSpieler button{
  display: block;
  display: inline-block;
}

#startSpielZweiSpieler:hover { 
  box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.3), 0 0.2rem 0.5rem rgba(0,0,0,0.3), 0 0.2rem 0.2rem rgba(0,0,0,0.22); 
  transform: translate(0, -0.5rem); 
}


.splash{
  font-size: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  background: #333;
  z-index: 200;
  color: #49738C;
  text-align: center;
  line-height: 90vh;
}

.splash.display-none{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  background: bisque;
  z-index: -10;
  color: #49738C;
  text-align: center;
  line-height: 90vh;
  transition: all 0.8s; 
}

@keyframes fadeIn{
  to{
      opacity: 1;
  }
}

.fade-in{
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.btn {
  cursor: pointer;
  border: 0;
  padding: 15px 40px;
  background: #49738C;
  color: #F1F1F1;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background: #F1F1F1;
  color: #49738C;
}

.btn:active {
  transform: scale(0.98);
}

.rules-btn {
  position: absolute;
  top: 30px;
  left: 30px;
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
  color: #F1F1F1;
  min-height: 100vh;
  width: 400px;
  padding: 20px;
  line-height: 1.5;
  transform: translateX(-400px);
  transition: transform 1s ease-in-out;
  z-index: 20;
}

.rules.show {
  transform: translateX(0);
}

/*
Video Light

font-family: video, serif;

font-weight: 300;

font-style: normal;

Video Regular

font-family: video, serif;

font-weight: 400;

font-style: normal;

Video Medium

font-family: video, serif;

font-weight: 500;

font-style: normal;

Video SemiBold

font-family: video, serif;

font-weight: 600;

font-style: normal;

Video Bold

font-family: video, serif;

font-weight: 700;

font-style: normal;

Video Cond Light

font-family: video-cond, serif;

font-weight: 300;

font-style: normal;

Video Cond Regular

font-family: video-cond, serif;

font-weight: 400;

font-style: normal;

Video Cond Medium

font-family: video-cond, serif;

font-weight: 500;

font-style: normal;

Video Cond SemiBold

font-family: video-cond, serif;

font-weight: 600;

font-style: normal;

Video Cond Bold

font-family: video-cond, serif;

font-weight: 700;

font-style: normal;
*/