*{
  box-sizing: border-box;
}

body{
  background-color: darkcyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
}
/*h1{
  margin-bottom: 600px;
  margin-left: 80px;
  color: bisque;
}

#gameCanvas {
  position: absolute;
  top:40%;
  left:35%;
  margin-top: -100px;
  margin-left: -100px;
  border-radius: 4px;
}*/

h1 {
font-size: 45px;
color: bisque;
}

#gameCanvas {
background: #f0f0f0;
display: block;
border-radius: 5px;
border-color: brown;
border-width: 5px;
border-style: solid;
}

.deactivatebutton{
  display: none;
}

.deactivecanvas{
  display: none; 
}

#startSpiel{
  font-family:Arial, Helvetica, sans-serif;
  color: bisque;
  text-align: center;
  cursor: pointer;
  padding-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 3px solid brown;
  background-color: bisque; 
  text-align: center;
  font-size: 40px;
  color: brown; 
  text-decoration: none;
  width: 200px;
  margin-top: 60px;
  position: fixed;
}

#startSpiel button{
  display: block;
  display: inline-block;
}

#startSpiel:hover { 
  box-shadow: 0 0.2rem 0.5rem rgba(0,0,0,0.3), 0 0.2rem 0.5rem rgba(0,0,0,0.3), 0 0.2rem 0.2rem rgba(0,0,0,0.22); 
  transform: translate(0, -0.5rem); 
  /* color: cornsilk; 
  box-shadow: inset 0 0 0 0.5rem; */ 
}

.splash{
  font-size: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  background: #333;
  z-index: 200;
  color: darkcyan;
  text-align: center;
  line-height: 90vh;
}

.splash.display-none{
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  background: bisque;
  z-index: -10;
  color: darkcyan;
  text-align: center;
  line-height: 90vh;
  transition: all 0.8s; 
}

@keyframes fadeIn{
  to{
      opacity: 1;
  }
}

.fade-in{
  opacity: 0;
  animation: fadeIn 1s ease-in forwards;
}

.btn {
  cursor: pointer;
  border: 0;
  padding: 10px 20px;
  background: brown;
  color: bisque;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:hover {
  background: bisque;
  color: brown;
}

.btn:active {
  transform: scale(0.98);
}

.rules-btn {
  position: absolute;
  top: 30px;
  left: 30px;
}

.rules {
  position: absolute;
  top: 0;
  left: 0;
  background: #333;
  color: bisque;
  min-height: 100vh;
  width: 400px;
  padding: 20px;
  line-height: 1.5;
  transform: translateX(-400px);
  transition: transform 1s ease-in-out;
}

.rules.show {
  transform: translateX(0);
}